@import '@/app/styles/vars';

.buttonWrapper {
	position: relative;
	z-index: 2;
}

.button {
	cursor: pointer;
	border-radius: 30px;
	background-color: $blue;
	padding: 10px 50px;
	color: $white;
	@include T3();
}

@media (max-width: 768px) {
	.button {
		@include T5();
		padding: 10px 30px;
	}
}
