.sale{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.card{
    max-width: 760px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    background-color: #FDF6CC;
}
.img{
    max-width: 420px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
		object-fit: cover;
}
.text{
    padding: 20px;
    color: #0C4C60;
}
.title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.1;
}
.description{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.1;
}
.about{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #FDCE00;
    display: flex;
    padding: 25px 20px;
    width: 55%;
    gap: 26px;
    color: #0C4C60;
    font-weight: 500;
    align-items: flex-start;
}
.about_text{
    width: 33.333%;
    line-height: 1.1;
    font-size: 16px;
}
@media (max-width: 1300px) {
	.sale {
		margin: 0 auto 50px;
	}
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		height: auto;
		margin: 0 auto;
	}
	.img {
		max-width: none;
		max-height: 400px;
	}
	.about {
		position: static;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		margin-top: 20px;
	}
	.about_text {
		width: 100%;
	}
}
