@import '@/app/styles/vars';

.button{
	color: $blue;
	background-color: $main-color;
	@include T5();
	padding: 6px 10px;
	&.medium{
		@include T3();
		padding: 10px;
	}
	&.big{
		@include T3();
		padding: 16px 40px;
	}
	&.round{
		@include T3();
		padding: 16px 40px;
		border-radius: 50px;
	}
}

@media (max-width: 700px) {
	.button {
		&.big {
				padding: 10px 26px;
				@include T5();
		}
		&.medium {
			@include T5();
			padding: 10px;
		}
		&.round {
			@include T5();
			padding: 10px 26px;
			border-radius: 50px;
		}
	}
}
