.title{
	font-size: 36px;
	font-weight: 700;
	color: #FDCE00;
	line-height: 1.2;
	text-align: center;
}
.resorts{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
