.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer {
  background-color: #072D40;
  padding: 30px 0;
  height: 200px;
  position: relative;
  z-index: 2;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.column:last-child {
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 290px;
  gap: 30px;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.name {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.link {
  color: #fff;
  transition: opacity 0.2s linear;
}
.link:hover {
  opacity: 0.6;
}

@media (max-width: 540px) {
  .footer {
    height: 100%;
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .column {
    gap: 20px;
  }
  .column:last-child {
    justify-content: flex-start;
    align-items: flex-start;
  }
}