@import '@/app/styles/vars';

.bookTrip {
	position: relative;
	z-index: 1;
}
.title {
	@include T14();
	color: $main-color;
	text-align: center;
	cursor: text;
	margin-top: 50px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}


@media (max-width: 900px) {
	.title {
		@include T2();
	}
}
