.page{
	background-color: #0B4865;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.page_cloud{
	position: absolute;
	top: -30px;
	left: 0;
	z-index: 0;
	width: 100%;
}
@media (max-width: 768px) {
	.page{
		padding-top: 40px;
	}
}
